{% extends 'books/base.html' %}

{% block body %}

<div class="container" align="center">
{% if book_object.has_previous %}
    <a href="?page=1" class="btn btn-primary btn-sm">First</a>
    <a href="?page={{ book_object.previous_page_number }}" class="btn btn-primary btn-sm">&#60;&#60; Previous</a>
{% endif %}

Page: {{ book_object.number }} of {{ book_object.paginator.num_pages }}

{% if book_object.has_next %}
    <a href="?page={{ book_object.next_page_number }}" class="btn btn-primary btn-sm">Next &#62;&#62;</a>
    <a href="?page={{ book_object.paginator.num_pages }}" class="btn btn-primary btn-sm">Last</a>
{% endif %}
</div>
<br>

<div class="container">
      <div class="row mb-2">
        {% for book in book_object %}
        <div class="col-md-6">
          <div class="card flex-md-row mb-4 box-shadow h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
              <strong class="d-inline-block mb-2 text-primary">{{ book.category }}</strong>
              <h3 class="mb-0">
                <a class="text-dark" href="#">{{ book.name }}</a>
              </h3>
              <div class="mb-1 text-muted">Rating: {{ book.rating }}</div>
              <p class="card-text mb-auto">Description: {{ book.description }}</p>
            </div>
            <img class="card-img-right flex-auto d-none d-md-block" src="media/{{ book.image }}" alt="book image">
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
</div>


<div class="container" align="center">
{% if book_object.has_previous %}
    <a href="?page=1" class="btn btn-primary btn-sm">First</a>
    <a href="?page={{ book_object.previous_page_number }}" class="btn btn-primary btn-sm">&#60;&#60; Previous</a>
{% endif %}

Page: {{ book_object.number }} of {{ book_object.paginator.num_pages }}

{% if book_object.has_next %}
    <a href="?page={{ book_object.next_page_number }}" class="btn btn-primary btn-sm">Next &#62;&#62;</a>
    <a href="?page={{ book_object.paginator.num_pages }}" class="btn btn-primary btn-sm">Last</a>
{% endif %}
</div>
<br>
{% endblock %}